.roll {
  display: block;
  width: 240px;
  height: 60px;
  margin-top: 100px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.roll div {
  font-weight: 700;
  overflow: hidden;
  text-shadow: 0 1.5em 0 #ac9c89;
  display: flex;
  justify-content: center;
}
.roll div span {
  display: block;
  transition: 0.25s ease;
}
.roll div span:nth-child(1) {
  transition-delay: 0.02s;
}
.roll div span:nth-child(2) {
  transition-delay: 0.04s;
}
.roll div span:nth-child(3) {
  transition-delay: 0.06s;
}
.roll div span:nth-child(4) {
  transition-delay: 0.08s;
}
.roll div span:nth-child(5) {
  transition-delay: 0.1s;
}
.roll div span:nth-child(6) {
  transition-delay: 0.12s;
}
.roll div span:nth-child(7) {
  transition-delay: 0.14s;
}
.roll div span:nth-child(8) {
  transition-delay: 0.16s;
}
.roll div span:nth-child(9) {
  transition-delay: 0.18s;
}
.roll div span:nth-child(10) {
  transition-delay: 0.2s;
}
.roll div span:nth-child(11) {
  transition-delay: 0.22s;
}
.roll div span:nth-child(12) {
  transition-delay: 0.24s;
}
.roll div span:nth-child(13) {
  transition-delay: 0.26s;
}
.roll div span:nth-child(14) {
  transition-delay: 0.28s;
}
.roll div span:nth-child(15) {
  transition-delay: 0.3s;
}
.roll:hover {
  background-color: #7a6955;
  border-color: #7a6955;
}
.roll:hover div span {
  transform: translateY(-1.5em);
}

#main-visual {
  overflow: hidden;
  height: 100vh;
}
#main-visual li {
  position: relative;
}
#main-visual li.visual01 .txt {
  position: absolute;
  z-index: 5;
  left: 5%;
  top: 70%;
  color: #000;
}
#main-visual li.visual01 .txt .sub {
  width: 100%;
  font-size: 19px;
  font-weight: 500;
}
#main-visual li.visual01 .txt .main {
  font-size: 48px;
  display: block;
  margin-top: 20px;
  font-weight: 700;
}
#main-visual li.visual02 .txt {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}
#main-visual li.visual02 .txt .sub {
  font-size: 19px;
  font-weight: 500;
}
#main-visual li.visual02 .txt .main {
  font-size: 48px;
  display: block;
  margin-top: 20px;
  font-weight: 700;
}
#main-visual li.visual03 .txt {
  position: absolute;
  z-index: 5;
  right: 5%;
  top: 60%;
  color: #fff;
  text-align: end;
}
#main-visual li.visual03 .txt .sub {
  font-size: 19;
  font-weight: 500;
}
#main-visual li.visual03 .txt .main {
  font-size: 48px;
  display: block;
  margin-top: 20px;
  font-weight: 700;
}
#main-visual li.visual01 .img {
  background: url(../images/main/svt-main-visual00.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual li.visual02 .img {
  background: url(../images/main/svt-main-visual03.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual li.visual03 .img {
  background: url(../images/main/svt-main-visual02.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual li .img {
  height: 100vh;
}
#main-visual .btns {
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 2;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
#main-visual .btn {
  color: #fff;
  font-size: 24px;
  z-index: 2;
}
#main-visual .btn-next {
  right: 50px;
}
#main-visual .btn-prev {
  left: 50px;
}

#quick-menu .container {
  display: flex;
}
#quick-menu .container h2 {
  height: 120px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  background-color: #7a6955;
  color: #fff;
  text-shadow: 1px 1px 0px #5c4f40,2px 2px 0px #5c4f40,3px 3px 0px #5c4f40,4px 4px 0px #5c4f40,5px 5px 0px #5c4f40,6px 6px 0px #5c4f40,7px 7px 0px #5c4f40,8px 8px 0px #5c4f40,9px 9px 0px #5c4f40,10px 10px 0px #5c4f40,11px 11px 0px #5c4f40,12px 12px 0px #5c4f40,13px 13px 0px #5c4f40,14px 14px 0px #5c4f40,15px 15px 0px #5c4f40,16px 16px 0px #5c4f40,17px 17px 0px #5c4f40,18px 18px 0px #5c4f40,19px 19px 0px #5c4f40,20px 20px 0px #5c4f40,21px 21px 0px #5c4f40,22px 22px 0px #5c4f40,23px 23px 0px #5c4f40,24px 24px 0px #5c4f40,25px 25px 0px #5c4f40,26px 26px 0px #5c4f40,27px 27px 0px #5c4f40,28px 28px 0px #5c4f40,29px 29px 0px #5c4f40,30px 30px 0px #5c4f40,31px 31px 0px #5c4f40,32px 32px 0px #5c4f40,33px 33px 0px #5c4f40,34px 34px 0px #5c4f40,35px 35px 0px #5c4f40,36px 36px 0px #5c4f40,37px 37px 0px #5c4f40,38px 38px 0px #5c4f40,39px 39px 0px #5c4f40,40px 40px 0px #5c4f40,41px 41px 0px #5c4f40,42px 42px 0px #5c4f40,43px 43px 0px #5c4f40,44px 44px 0px #5c4f40,45px 45px 0px #5c4f40,46px 46px 0px #5c4f40,47px 47px 0px #5c4f40,48px 48px 0px #5c4f40,49px 49px 0px #5c4f40,50px 50px 0px #5c4f40,51px 51px 0px #5c4f40,52px 52px 0px #5c4f40,53px 53px 0px #5c4f40,54px 54px 0px #5c4f40,55px 55px 0px #5c4f40,56px 56px 0px #5c4f40,57px 57px 0px #5c4f40,58px 58px 0px #5c4f40,59px 59px 0px #5c4f40,60px 60px 0px #5c4f40,61px 61px 0px #5c4f40,62px 62px 0px #5c4f40,63px 63px 0px #5c4f40,64px 64px 0px #5c4f40,65px 65px 0px #5c4f40,66px 66px 0px #5c4f40,67px 67px 0px #5c4f40,68px 68px 0px #5c4f40,69px 69px 0px #5c4f40,70px 70px 0px #5c4f40,71px 71px 0px #5c4f40,72px 72px 0px #5c4f40,73px 73px 0px #5c4f40,74px 74px 0px #5c4f40,75px 75px 0px #5c4f40,76px 76px 0px #5c4f40,77px 77px 0px #5c4f40,78px 78px 0px #5c4f40,79px 79px 0px #5c4f40,80px 80px 0px #5c4f40,81px 81px 0px #5c4f40,82px 82px 0px #5c4f40,83px 83px 0px #5c4f40,84px 84px 0px #5c4f40,85px 85px 0px #5c4f40,86px 86px 0px #5c4f40,87px 87px 0px #5c4f40,88px 88px 0px #5c4f40,89px 89px 0px #5c4f40,90px 90px 0px #5c4f40,91px 91px 0px #5c4f40,92px 92px 0px #5c4f40,93px 93px 0px #5c4f40,94px 94px 0px #5c4f40,95px 95px 0px #5c4f40,96px 96px 0px #5c4f40,97px 97px 0px #5c4f40,98px 98px 0px #5c4f40,99px 99px 0px #5c4f40,100px 100px 0px #5c4f40;
  overflow: hidden;
}
#quick-menu .container ul {
  display: flex;
  width: 75%;
}
#quick-menu .container ul li {
  width: 33.33%;
  border-left: 1px solid #ccc;
}
#quick-menu .container ul li:nth-last-child(1) {
  border-right: 1px solid #ccc;
}
#quick-menu .container ul li:nth-child(1) a:before {
  background-image: url("../images/main/quick-icon1.png");
}
#quick-menu .container ul li:nth-child(2) a:before {
  background-image: url("../images/main/quick-icon2.png");
}
#quick-menu .container ul li:nth-child(3) a:before {
  background-image: url("../images/main/quick-icon3.png");
}
#quick-menu .container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
#quick-menu .container ul li a:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 10px;
}

.section .title-box {
  width: 340px;
}
.section .title-box .title h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 40px;
}
.section .title-box .title p {
  font-size: 18px;
  line-height: 1.5;
}
.section .title-box .title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #7a6955;
  margin: 30px 0;
}
.section .title-box .btns {
  display: flex;
}
.section .title-box .btns .btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
}
.section .title-box .btns .btn-next {
  margin-left: -1px;
}

#project {
  overflow: hidden;
  position: relative;
  padding: 200px 0 300px;
  background-color: #eee;
}
#project .title h2 {
  color: #7a6955;
}
#project .container {
  position: relative;
}
#project .banner {
  width: 100vw;
  position: absolute;
  left: 340px;
  top: 0;
}
#project .banner .mask {
  overflow: hidden;
  padding-bottom: 50px;
}
#project .banner ul li {
  width: 400px;
}
#project .banner ul li .contents img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .banner ul li:hover .popup {
  top: 120px;
  opacity: 1;
  pointer-events: auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.15);
}
#project .banner ul li .info,
#project .banner ul li .popup {
  background-color: #fff;
  padding: 30px;
}
#project .banner ul li .info h3,
#project .banner ul li .popup h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
#project .banner ul li .info dl,
#project .banner ul li .popup dl {
  display: flex;
  margin: 15px 0;
}
#project .banner ul li .info dl dt,
#project .banner ul li .popup dl dt {
  width: 80px;
  font-weight: 500;
}
#project .banner ul li .info dl dd,
#project .banner ul li .popup dl dd {
  color: #666;
  width: calc(100% - 80px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#project .banner ul li .popup {
  position: absolute;
  width: 100%;
  top: 350px;
  box-sizing: border-box;
  opacity: 0;
  padding: 50px 30px;
  transition: all 0.5s ease;
  pointer-events: none;
}
#project .banner ul li .popup a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a6955;
  color: #fff;
  margin-top: 30px;
  padding: 30px 0;
  overflow: hidden;
  text-shadow: 1px 1px 0px #5c4f40,2px 2px 0px #5c4f40,3px 3px 0px #5c4f40,4px 4px 0px #5c4f40,5px 5px 0px #5c4f40,6px 6px 0px #5c4f40,7px 7px 0px #5c4f40,8px 8px 0px #5c4f40,9px 9px 0px #5c4f40,10px 10px 0px #5c4f40,11px 11px 0px #5c4f40,12px 12px 0px #5c4f40,13px 13px 0px #5c4f40,14px 14px 0px #5c4f40,15px 15px 0px #5c4f40,16px 16px 0px #5c4f40,17px 17px 0px #5c4f40,18px 18px 0px #5c4f40,19px 19px 0px #5c4f40,20px 20px 0px #5c4f40,21px 21px 0px #5c4f40,22px 22px 0px #5c4f40,23px 23px 0px #5c4f40,24px 24px 0px #5c4f40,25px 25px 0px #5c4f40,26px 26px 0px #5c4f40,27px 27px 0px #5c4f40,28px 28px 0px #5c4f40,29px 29px 0px #5c4f40,30px 30px 0px #5c4f40,31px 31px 0px #5c4f40,32px 32px 0px #5c4f40,33px 33px 0px #5c4f40,34px 34px 0px #5c4f40,35px 35px 0px #5c4f40,36px 36px 0px #5c4f40,37px 37px 0px #5c4f40,38px 38px 0px #5c4f40,39px 39px 0px #5c4f40,40px 40px 0px #5c4f40,41px 41px 0px #5c4f40,42px 42px 0px #5c4f40,43px 43px 0px #5c4f40,44px 44px 0px #5c4f40,45px 45px 0px #5c4f40,46px 46px 0px #5c4f40,47px 47px 0px #5c4f40,48px 48px 0px #5c4f40,49px 49px 0px #5c4f40,50px 100px 0px #5c4f40;
}

#about {
  padding: 200px 0 100px;
  position: relative;
}
#about .title h2 {
  color: #fff;
}
#about .title:after {
  background-color: #fff;
}
#about .container {
  z-index: 2;
  position: relative;
}
#about .banner {
  height: 100vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
#about .banner .list li {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .banner .list li .txt {
  color: #fff;
  padding-top: 350px;
}
#about .banner .list li .txt p {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
}
#about .banner .visual01 {
  background-image: url("../images/main/about_bg01.jpg");
}
#about .banner .visual02 {
  background-image: url("../images/main/about_bg02.jpg");
}
#about .banner .pagination {
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 3;
  width: auto;
  bottom: auto;
}
#about .banner .pagination .swiper-pagination-bullet {
  width: auto;
  background: none;
  font-size: 24px;
  color: #fff;
  opacity: 1;
}
#about .banner .pagination .swiper-pagination-bullet em {
  opacity: 0.2;
}
#about .banner .pagination .swiper-pagination-bullet-active em {
  opacity: 1;
}
#about .banner .pagination .swiper-pagination-bullet:nth-child(2) {
  padding-left: 30px;
  position: relative;
}
#about .banner .pagination .swiper-pagination-bullet:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 10px;
  top: 5px;
  transform: rotate(45deg);
}
#about .business {
  margin-top: 500px;
}
#about .business ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about .business ul li {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
#about .business ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  z-index: 2;
  transition: all 0.25s ease;
}
#about .business ul li img {
  transition: all 0.25s ease;
}
#about .business ul li .title {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 30px;
  width: 240px;
  height: 120px;
  box-sizing: border-box;
}
#about .business ul li .title strong {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

#news {
  padding: 0 0;
  position: relative;
}
#news .container {
  position: relative;
  display: flex;
}
#news .roll {
  border-color: #7a6955;
  margin-top: 50px;
}
#news .banner {
  width: calc(100% - 340px);
}
#news .banner .mask {
  overflow: hidden;
  height: 690px;
}
#news .banner ul {
  margin-top: -40px;
}
#news .banner ul li {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  height: 230px;
  box-sizing: border-box;
}
#news .banner ul li a {
  display: flex;
  align-items: center;
}
#news .banner ul li a:hover {
  text-decoration: underline;
}
#news .banner ul li a img {
  height: 150px;
}
#news .banner ul li a .txt {
  margin-left: 50px;
}
#news .banner ul li a .txt h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
#news .banner ul li a .txt h3 span {
  font-size: 13.7142857143px;
  vertical-align: middle;
  font-weight: 500;
  color: #7a6955;
  display: inline-block;
  margin-right: 10px;
  margin-top: -3px;
}
#news .banner ul li a .txt p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  line-height: 1.5;
}

#pr {
  padding: 200px 0;
  background-color: #ac9c89;
  overflow: hidden;
}
#pr .container {
  position: relative;
}
#pr .title h2 {
  color: #7a6955;
}
#pr .title p {
  opacity: 0.75;
}
#pr .roll {
  color: #fff;
}
#pr .banner {
  width: 100vw;
  position: absolute;
  left: 340px;
  top: 0;
  overflow: hidden;
}
#pr .banner .mask {
  overflow: hidden;
  padding-bottom: 50px;
}
#pr .banner ul li {
  width: 700px;
}
#pr .banner ul li iframe {
  width: 700px;
  height: 393.75px;
}